<div class="container">
  <h4 class="white-text">公開中の作品一覧</h4>
  <div class="container">
    <% @movies.each do |movie| %>
      <div class="row">
        <div class="card blue-grey darken-4">
          <div class="card-content white-text">
            <span class="card-title"><%= movie.title %></span>
            <p><%= movie.detail %></p>
          </div>
          <a class="dropdown-trigger btn" data-target="dropdown1" style="width:100%;">上映時間を見る</a>

          <ul id="dropdown1" class="dropdown-content black">
            <% movie.schedule.each do |schedule| %>
              <li class="card black">
                <a class="white-text">
                  SCREEN<%= schedule.theater_number %> <span style="padding-left: 50px;"><%= schedule.screening_date.strftime('%H:%M') %>~</span><span class="yellow-text" style="float: right;">購入　></span>
                </a>
              </li>
            <% end %>
          </ul>

        </div>
      </div>
    <% end %>
  </div>
</div>