<h4 class="white-text">座席の指定</h4>
  <div class="container white">
    <%= react_component("CinemaApp", {reserved_seat: @reserved_seat, screen: @schedule.theater_number, schedule: @schedule.id}) %>
  </div>
<p class="white-text">一つ前に戻る</p>
<p class="white-text">作品を選び直す</p>