// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.board-row {
    display:inline-flex;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.screen {
  background: #808080;
  width: aute;
  text-align: center;
  margin-bottom: 15px;
}
.seat {
  border: 1px solid #999;
  float: left;
  font-size: 8px;
  font-weight: bold;
  line-height: 34px;
  height: 30px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 0;
  text-align: center;
  width: 21px;
}
.null-seat {
  opacity: 0.0;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 8px;
  font-weight: bold;
  line-height: 34px;
  height: 30px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 0;
  text-align: center;
  width: 21px;
}